@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body{
    font-family: Roboto, "sans-serif";
}

.navbar{
    background-color: #5B3758;
}
#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: #5B3758;
}
#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #fff;
}



    .navbar-toggler{
        background-color: #C65B7C;
    }

 .section-title{
    font-family: Pacifico,cursive;
 }

#sobre-o-restaurante,
#cardapio{
    background-color: #c65b7d8a;
}

.text-colored{
    color:#2A6041; ;
 }

 .nav-cardapio .nav-link.active,
 #fale-conosco button{
    background-color:#2A6041 ;
    color: #fff;
 }
 .nav-cardapio .nav-link:hover{
    color: #c65b7d8a;
 }
 .social-links li{
    list-style: none;
    display: inline;

 }
 .social-links a{
    text-decoration: none;

 }
 @media (max-width:767px){
    .carousel-item img{
        height: 200px;
    }

    #cardapio img{
        
        max-height: 250px;
    }
 }


 